<div class="component-content" id="componentPagination">
  <div class="component-item">
    <h2 class="component-title">pagination</h2>
    <div class="component-body">
      <ul class="component-sub-text">
        <li>리스트의 공통 페이징입니다.</li>
        <li>이전이나 다음페이지가 없을경우<span class="font-class">.controller</span> 클래스에 <span class="font-class">.disabled</span> 클래스를 붙히면 버튼이 비활성화 됩니다.</li>
      </ul>
      <div class="component-result">
        <div class="pagination">
          <button type="button" class="controller first">맨처음으로</button>
          <button type="button" class="controller prev disabled">이전으로</button>
          <button type="button" class="paging current">1</button>
          <button type="button" class="paging">2</button>
          <button type="button" class="paging">3</button>
          <button type="button" class="controller next">다음으로</button>
          <button type="button" class="controller last">맨끝으로</button>
        </div>
      </div>
    </div>
  </div>
</div>