<div class="component-content" id="componentFont">
  <div class="component-item">
    <h2 class="component-title">폰트</h2>
    <div class="component-body">
      <ul class="component-sub-text">
        <li>폰트에 공통 색상을 줄때 사용됩니다.</li>
      </ul>
      <div class="component-result">
        <p class="font primary">primary 텍스트입니다.</p>
        <p class="font slightly">slightly 텍스트입니다.</p>
        <p class="font warning">warning 텍스트입니다.</p>
        <p class="font danger">danger 텍스트입니다.</p>
      </div>
    </div>
  </div>
</div>