// 배경이미지 함수 (속성 따로 쓸 경우)
@mixin _background-image($imageUrl) {
  background-image: url($baseUrl + $imageUrl);
}
// 배경이미지 함수 (속성 같이 쓸 경우)
@mixin _background($imageUrl, $x: 0, $y: 0) {
  background: url($baseUrl + $imageUrl) no-repeat $x $y;
}

// 시각적으로 숨기고, 스크린리더에서는 이용가능:
@mixin blind() {
  position: absolute !important;
  display: block;
  width: 0 !important;
  height: 0 !important;
  padding: 0 !important;
  margin: -1px !important;
  border: 0 !important;
  overflow: hidden !important;
  clip: rect(0 0 0 0) !important;
  &.focusable:active,
  &.focusable:focus {
    position: static;
    height: auto;
    width: auto;
    margin: 0;
    clip: auto;
    overflow: visible;
  }
}

// 박스사이징
@mixin box-sizing {
  box-sizing: border-box;
}

// 요소를 중앙으로
@mixin centerMode() {
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
}

// 한줄 말줄임
@mixin ellipsis() {
  overflow: hidden;
  white-space: nowrap;
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
}

// 여러말 말줄임
@mixin multi-ellipsis($line: 2, $line-height: 1.5, $height-fixed: false) {
  display: block;
  display: -webkit-box;
  @if $height-fixed == true {
    // 유동적인 경우 사용
    height: ($line * $line-height) * 1em;
    max-height: ($line * $line-height) * 1em;
  } @else {
    max-height: ($line * $line-height) * 1em;
  }
  text-overflow: ellipsis;
  line-height: $line-height * 1em;
  -webkit-line-clamp: $line;
  -webkit-box-orient: vertical;
  word-wrap: break-word;
  overflow: hidden;
}

// placeholder 컬러 사용
@mixin placeholder($color: #999) {
  &::-webkit-input-placeholder {
    // Chrome/Opera/Safari
    color: $color;
    opacity: 1;
  }
  &::-moz-placeholder {
    // Firefox 19+
    color: $color;
    opacity: 1;
  }
  &:-ms-input-placeholder {
    // IE 10+
    color: $color;
    opacity: 1;
  }
  &:-moz-placeholder {
    // Firefox 18-
    color: $color;
    opacity: 1;
  }
  &:placeholder {
    // Firefox 18-
    color: $color;
    opacity: 1;
  }
}

// width / height 를 편하게....
// width, height를 같게 하려면 @include size(100px);
// 다르게 하려면 @include size(100px, 1em);

@mixin size($width, $height: $width) {
  width: $width;
  height: $height;
}

// vw 사용
/* 최대 화면 크기 설정 */
$vw-viewport: 480px; // 모바일 최대 사이즈
$vw-context: 360px; // 디자인 시안 사이즈

@function get-vw($px) {
  @return calc(($px * 100vw) / $vw-context);
}

/* 반응형이 일어날 화면 설정 */
@mixin SCREEN {
  @media (max-width: #{$vw-viewport}) {
    @content;
  }
}

/* 화면 크기에 따라 크기를 알맞게 설정해주는 함수 */
@mixin _vw($property, $px) {
  @include SCREEN {
    #{$property}: get-vw($px);
  }
  #{$property}: $px * calc($vw-viewport / $vw-context);
}
