<div class="component-content" id="componentButton">
  <div class="component-item">
    <h2 class="component-title">버튼</h2>
    <div class="component-body">
      <h3 class="component-sub-title">- 기본</h3>
      <ul class="component-sub-text">
        <li>미리 정의된 버튼 스타일이 포함되어 있으며 각각의 의미와 목적에 맞게 사용하면 됩니다.</li>
        <li>색상은 config.scss에 정의해서 사용하도록 권장합니다.</li>
      </ul>
      <div class="component-result">
        <div class="btn-example">
          <button type="button" class="btn small primary">primary</button>
          <button type="button" class="btn small slightly">slightly</button>
          <button type="button" class="btn small lightSlightly">lightSlightly</button>
          <button type="button" class="btn small dark">dark</button>
          <button type="button" class="btn small danger">danger</button>
          <button type="button" class="btn small warning">warning</button>
        </div>
      </div>
    </div>
    <div class="component-body">
      <h3 class="component-sub-title">- 사이즈별 버튼</h3>
      <ul class="component-sub-text">
        <li>버튼의 공통 크기를 지정하여 사용할 수 있습니다.</li>
        <li>사이즈: small / medium / large / xlarge</li>
      </ul>
      <div class="component-result">
        <div class="btn-example">
          <button type="button" class="btn small primary">primary</button>
          <button type="button" class="btn medium slightly">slightly</button>
          <button type="button" class="btn large lightSlightly">lightSlightly</button>
          <button type="button" class="btn xlarge dark">dark</button>
        </div>
      </div>
    </div>
    <div class="component-body">
      <h3 class="component-sub-title">- 유형별 버튼</h3>
      <ul class="component-sub-text">
        <li>테두리 또는 라운드 버튼을 지정 할수 있습니다.</li>
      </ul>
      <div class="component-result">
        <div class="btn-example">
          <button type="button" class="btn small primary border">primary</button>
          <button type="button" class="btn small primary round">primary</button>
        </div>
      </div>
    </div>
  </div>
</div>
