<div class="component-content" id="componentCheckbox">
  <div class="component-item">
    <h2 class="component-title">체크박스/라디오버튼</h2>
    <div class="component-body">
      <h3 class="component-sub-title">- 체크박스</h3>
      <ul class="component-sub-text">
        <li>체크박스 유형은 round / square 두가지가 있습니다.</li>
      </ul>
      <div class="component-result">
        <div class="selector-wrapper">
          <div class="selector-cover checkbox round">
            <label class="label">
              <input type="checkbox" name="" id="" />
              <span class="selector-text">체크박스</span>
            </label>
          </div>
          <div class="selector-cover checkbox square">
            <label class="label">
              <input type="checkbox" name="" id="" />
              <span class="selector-text">체크박스</span>
            </label>
          </div>
        </div>
      </div>
    </div>
    <div class="component-body">
      <h3 class="component-sub-title">- 라디오버튼</h3>
      <ul class="component-sub-text"></ul>
      <div class="component-result">
        <div class="selector-wrapper">
          <div class="selector-cover radio">
            <label class="label">
              <input type="radio" name="radio01" id="" />
              <span class="selector-text">라디오버튼</span>
            </label>
          </div>
          <div class="selector-cover radio">
            <label class="label">
              <input type="radio" name="radio01" id="" />
              <span class="selector-text">라디오버튼</span>
            </label>
          </div>
        </div>
      </div>
    </div>
    <div class="component-body">
      <h3 class="component-sub-title">- 가로형</h3>
      <ul class="component-sub-text">
        <li><span class="font-class">.horizontal</span> 클래스를 추가하면 가로형이 됩니다.</li>
      </ul>
      <div class="component-result">
        <div class="selector-wrapper horizontal">
          <div class="selector-cover checkbox round">
            <label class="label">
              <input type="checkbox" name="" id="" />
              <span class="selector-text">체크박스</span>
            </label>
          </div>
          <div class="selector-cover checkbox round">
            <label class="label">
              <input type="checkbox" name="" id="" />
              <span class="selector-text">체크박스</span>
            </label>
          </div>
        </div>
      </div>
    </div>
    <div class="component-body">
      <h3 class="component-sub-title">- 라벨없음</h3>
      <ul class="component-sub-text">
        <li>라벨이 없는 경우 <span class="font-class">.solo</span> 클래스를 추가하면 됩니다.</li>
        <li>라벨이 없어도 label 태그는 존재해야 합니다.</li>
      </ul>
      <div class="component-result">
        <div class="selector-wrapper">
          <div class="selector-cover checkbox round solo">
            <label class="label">
              <input type="checkbox" name="" id="" />
              <span class="selector-text"></span>
            </label>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
