<div class="component-content" id="componentSlider">
  <div class="component-item">
    <h2 class="component-title">슬라이드(swiper.js)</h2>
    <div class="component-body">
      <ul class="component-sub-text">
        <li>비동기 후 슬라이드 안될때(업데이트) 함수 - <strong style="color: #d8027d">window.sliderUpdate()</strong></li>
        <li><span class="font-class">.swiper-container</span>클래스에 슬라이드별로 클래스를 추가해 사용해주세요.</li>
        <li>슬라이드 스크립트 및 옵션은 common-ui.js를 참고해주세요.</li>
      </ul>
      <div class="component-result">
        <div class="swiper-container slider-example">
          <div class="swiper-wrapper">
            <div class="swiper-slide"><img src="../../resources/images/_temp/img-temp-01.jpg" alt="" /></div>
            <div class="swiper-slide"><img src="../../resources/images/_temp/img-temp-02.jpg" alt="" /></div>
            <div class="swiper-slide"><img src="../../resources/images/_temp/img-temp-03.jpg" alt="" /></div>
          </div>
          <div class="swiper-pagination"></div>
          <div class="swiper-button-prev"></div>
          <div class="swiper-button-next"></div>
        </div>
      </div>
    </div>
  </div>
</div>
