<div class="component-content" id="componentTable">
  <div class="component-item">
    <h2 class="component-title">테이블</h2>
    <div class="component-body">
      <ul class="component-sub-text">
        <li>일반적인 테이블 형태 구조입니다.</li>
        <li><span class="font-class">.center</span>클래스를 추가하면 텍스트 가운데 정렬을 할수 있습니다.</li>
      </ul>
      <div class="component-result">
        <div class="data-table">
          <table>
            <caption>
              테이블제목
            </caption>
            <colgroup>
              <col style="width: 10%" />
              <col />
              <col style="width: 30%" />
              <col style="width: 30%" />
            </colgroup>
            <thead>
              <tr>
                <th class="center">번호</th>
                <th class="center">제목</th>
                <th class="center">내용</th>
                <th class="center">내용</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="center">1</td>
                <td class="center">내용</td>
                <td class="center">내용</td>
                <td class="center">내용</td>
              </tr>
              <tr>
                <td class="center">1</td>
                <td class="center">내용</td>
                <td class="center">내용</td>
                <td class="center">내용</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
