<!DOCTYPE html>
<html lang="ko">
  <head>
    @@include('../../../includes/resources.html', {path: 3})
  </head>

  <body>
    <div id="container">
      <!-- 컨텐츠 -->
      <main id="content">
        <div class="main-content-box">
          <!-- 헤더 -->
          @@include('../../../includes/header.html')
          <!-- // 헤더 -->
          <div class="section-inner">
            <div class="visual--wrap">
              <div class="box-inner">
                <h2 class="visual-img--title scroll-animate">
                  <img src="../../../resources/images/main/img-visual-title.png" alt="스트리트 꼬북 파이터" />
                </h2>
                <div class="vs-img--wrap scroll-animate">
                  <img src="../../../resources/images/main/img-visual-vs.png" alt="vs" />
                </div>
                <div class="character--wrap left scroll-animate">
                  <img src="../../../resources/images/main/img-character_L.png" alt="" />
                </div>
                <div class="character--wrap right scroll-animate">
                  <img src="../../../resources/images/main/img-character_R.png" alt="" />
                </div>
              </div>
            </div>
            <div class="sector-bg--wrap">
              <div class="img--wrap img01">
                <div class="box-inner">
                  <div class="img-sector01--title scroll-animate">
                    <img src="../../../resources/images/main/img-sector01-title.png" alt="역대급 신제품과 맞붙을" class="scroll-animate" />
                  </div>
                  <div class="img-lottie--wrap">
                    <div class="vs-lottie--wrap"></div>
                    <div class="vs-small-volt--wrap"></div>
                  </div>
                  <img src="../../../resources/images/main/BG.png" alt="" />
                </div>
              </div>
              <div class="img--wrap img02">
                <div class="box-inner">
                  <div class="img-sector02--title title1 scroll-animate">
                    <img src="../../../resources/images/main/img-sector02-title1.png" alt="" />
                  </div>
                  <div class="img-sector02--title title2 scroll-animate" data-delay="1s">
                    <img src="../../../resources/images/main/img-sector02-title2.png" alt="" />
                  </div>
                  <img src="../../../resources/images/main/sector03_BG.png" alt="" />
                </div>
              </div>
              <div class="img--wrap img03">
                <div class="box-inner">
                  <div class="img-sector03--title scroll-animate">
                    <img src="../../../resources/images/main/img-sector04-title.png" alt="최강꼬북파이터는 누가 될 것인가?" />
                  </div>
                  <img src="../../../resources/images/main/sector04_BG.png" alt="" />
                </div>
              </div>
            </div>
            <div class="vote-favor--wrap" id="voteFavor">
              <div class="lottie"></div>
              <div class="volt"></div>
              <div class="box-inner">
                <div class="button--wrap">
                  <button type="button" class="c-common-button btn-effect" onclick="layerPopup.openPopup('votePopup', true)">
                    <img src="../../../resources/images/main/img-vote-button--text.png" alt="스트리트 꼬북 파이터 투표하기" />
                    <span class="blind">스트리트 꼬북 파이터 투표하기</span>
                  </button>
                  <p class="vote-info-desc">※ 최대 5번까지 투표 가능</p>
                </div>
                <div class="live-vote--wrap">
                  <div class="box-inner">
                    <h2 class="title">
                      <img src="../../../resources/images/main/img-vote-title.png" alt="실시간 투표 현황" />
                    </h2>
                    <div class="live-compare--wrap">
                      <div class="product-img--wrap">
                        <div class="img-item">
                          <div class="product-img consoup">
                            <img src="../../../resources/images/main/counsoup-img.png" alt="꼬북칩 콘스프맛" />
                          </div>
                          <p class="product-text">꼬북칩 콘스프맛</p>
                        </div>
                        <!-- To 개발 : 득표수가 더 많은 꼬북칩 캐릭터애개는 더 크게 보일 수 있도록 img-item 요소에 active클래스 추가가 필요합니다 -->
                        <div class="img-item active">
                          <div class="product-img chocolate">
                            <img src="../../../resources/images/main/chocolate-img.png" alt="꼬북칩 초코츄러스맛" />
                          </div>
                          <p class="product-text">꼬북칩 초코츄러스맛</p>
                        </div>
                      </div>
                      <div class="gage-bar--wrap">
                        <div class="gage-bar">
                          <!-- To 개발 : 게이지 퍼센트의 너비를 제어하는 값은 data-gage 입니다 -->
                          <div class="gage-item consoup" data-gage="33"></div>
                          <div class="gage-item chocolate" data-gage="67"></div>
                        </div>
                      </div>
                      <div class="gage-num--wrap">
                        <div class="num-item">
                          <!-- To 개발 : 게이지 퍼센트의 값이 들어가는 요소입니다 -->
                          <p class="num count">33</p>
                          <span>%</span>
                        </div>
                        <div class="num-item">
                          <!-- To 개발 : 게이지 퍼센트의 값이 들어가는 요소입니다 -->
                          <p class="num count">67</p>
                          <span>%</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="vote-info--wrap">
                  <p class="desc">투표 기간: 5/27(월) ~ 7/21(일) <small>*24시 종료</small></p>
                  <span>※ 매시 정각 투표 결과 업데이트</span>
                </div>
              </div>
            </div>
            <div class="event-content--wrap event01-content--wrap" id="event1">
              <div class="heading--wrap">
                <div class="box-inner">
                  <h3 class="event-num--title">
                    <img src="../../../resources/images/main/img-main-event01-num.png" alt="event01" />
                  </h3>
                  <h2 class="event-text--title">
                    <img src="../../../resources/images/main/img-main-event01-text--title.png" alt="꼬북칩 덕질 콘테스트" />
                  </h2>
                  <p class="event-desc">
                    내가 가장 좋아하는 꼬북칩 맛에 투표하고<br />
                    사심 가득 응원톡을 남겨주세요!
                  </p>
                </div>
              </div>
              <div class="event01-comment--wrap">
                <div class="box-inner">
                  <p class="total-comment--text">53,124개의 응원 톡</p>
                  <div class="event-comment-view--wrap">
                    <div class="comment-list--wrap">
                      <!-- 응원하는 대상이 꼬북칩 초코츄러스맛일 경우 ui -->
                      <div class="comment-item chocolate">
                        <div class="comment-date">24.05.08 17:00</div>
                        <div class="user-comment--wrap">
                          <p class="user-nickname">닉네임여덟자12</p>
                          <div class="comment">내용입니다육칠팔구십일이삼사오육칠팔구십일이삼사오육칠팔구십일이삼사오육칠팔구십일이삼사오육칠팔구십</div>
                        </div>
                        <div class="user-image--wrap">
                          <img src="../../../resources/images/main/img-chocolate-user.png" alt="꼬북칩 초코츄러스맛 응원" />
                        </div>
                      </div>

                      <!-- 응원하는 대상이 꼬북칩 콘스프맛일 경우 ui -->
                      <div class="comment-item consoup">
                        <div class="user-image--wrap">
                          <img src="../../../resources/images/main/img-soup-user.png" alt="꼬북칩 콘스프맛 응원" />
                        </div>
                        <div class="user-comment--wrap">
                          <p class="user-nickname">닉네임여덟자12</p>
                          <div class="comment">내용입니다육칠팔구십일이삼사오육칠팔구십일이삼사오육칠팔구십일이삼사오육칠팔구십일이삼사오육칠팔구십</div>
                        </div>
                        <div class="comment-date">24.05.08 17:00</div>
                      </div>

                      <div class="comment-item consoup">
                        <div class="user-image--wrap">
                          <img src="../../../resources/images/main/img-soup-user.png" alt="꼬북칩 콘스프맛 응원" />
                        </div>
                        <div class="user-comment--wrap">
                          <p class="user-nickname">닉네임여덟자12</p>
                          <div class="comment">내용입니다육칠팔구십일이삼사오육칠팔구십일이삼사오육칠팔구십일이삼사오육칠팔구십일이삼사오육칠팔구십</div>
                        </div>
                        <div class="comment-date">24.05.08 17:00</div>
                      </div>

                      <div class="comment-item consoup">
                        <div class="user-image--wrap">
                          <img src="../../../resources/images/main/img-soup-user.png" alt="꼬북칩 콘스프맛 응원" />
                        </div>
                        <div class="user-comment--wrap">
                          <p class="user-nickname">닉네임여덟자12</p>
                          <div class="comment">내용입니다육칠팔구십일이삼사오육칠팔구십일이삼사오육칠팔구십일이삼사오육칠팔구십일이삼사오육칠팔구십</div>
                        </div>
                        <div class="comment-date">24.05.08 17:00</div>
                      </div>

                      <div class="comment-item chocolate">
                        <div class="comment-date">24.05.08 17:00</div>
                        <div class="user-comment--wrap">
                          <p class="user-nickname">닉네임여덟자12</p>
                          <div class="comment">내용입니다육칠팔구십일이삼사오육칠팔구십일이삼사오육칠팔구십일이삼사오육칠팔구십일이삼사오육칠팔구십</div>
                        </div>
                        <div class="user-image--wrap">
                          <img src="../../../resources/images/main/img-chocolate-user.png" alt="꼬북칩 초코츄러스맛 응원" />
                        </div>
                      </div>
                    </div>
                    <div class="button--wrap">
                      <button type="button" class="c-common-button paging-btn" onclick="window.pagingFunc()">◀︎ 이전 Page</button>
                      <button type="button" class="c-common-button paging-btn" onclick="window.pagingFunc()">다음 Page ▶︎</button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="event01-detail-info--wrap">
                <div class="box-inner">
                  <div class="button-info--wrap">
                    <button type="button" class="c-common-button cheering-match-event--button btn-effect" onclick="layerPopup.openPopup('event01Popup', true)">응원톡 매치 이벤트 참여하기</button>
                    <p class="button-info--desc">
                      응원톡 매치에 참여하시면 추첨을 통해<br />
                      <strong>꼬북칩 1 BOX</strong>를 선물로 드립니다!
                    </p>
                  </div>
                  <div class="event-info--item">
                    <h4 class="event-info--cate">이벤트 기간</h4>
                    <p class="event-info-sub--desc">5/27(월)~7/21(일) *24시 종료</p>
                  </div>
                  <div class="event-info--item">
                    <h4 class="event-info--cate">참여 방법</h4>
                    <p class="event-info-sub--desc">
                      <strong>
                        내가 투표한 꼬북칩을 선택하고,<br />
                        응원톡을 작성하면 참여 완료!
                      </strong>
                    </p>
                  </div>
                  <div class="event-info--item">
                    <h4 class="event-info--cate">이벤트 경품</h4>
                    <div class="event-product-img--wrap">
                      <img src="../../../resources/images/main/img-main-event-product.png" alt="내가 응원한 꼬북칩 1box" />
                    </div>
                    <small class="info-small-product--text">
                      <strong>내가 응원한 꼬북칩 1BOX</strong>
                    </small>
                    <small class="info-small-product--text"> (콘스프맛 or 초코츄러스맛) </small>
                  </div>
                  <div class="event-info--item">
                    <h4 class="event-info--cate">당첨자 발표</h4>
                    <p class="event-info-sub--desc list">1차 이벤트 당첨자 발표 : <strong>6/26(수) 100명</strong></p>
                    <p class="event-info-sub--desc list">2차 이벤트 당첨자 발표 : <strong>7/26(금) 100명</strong></p>
                    <p class="event-info-sub--desc list">당첨자 발표는 당첨자에 한해 기입하신 연락처로 개별 MMS로 안내드립니다.</p>
                    <p class="event-info-sub--desc list">작성한 응원톡은 오리온 온/오프라인 채널 홍보용으로 활용될 수 있습니다.</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="event-content--wrap event02-content--wrap" id="event2">
              <div class="heading--wrap">
                <div class="box-inner">
                  <h3 class="event-num--title">
                    <img src="../../../resources/images/main/img-main-event02-num.png" alt="event02" />
                  </h3>
                  <h2 class="event-text--title">
                    <img src="../../../resources/images/main/img-main-event02-text--title.png" alt="꼬북칩 덕질 콘테스트" />
                  </h2>
                  <p class="event-desc">최애 꼬북칩을 향한 팬심을 보여주세요!</p>
                </div>
              </div>
              <div class="event02-swiper--wrap">
                <div class="box-inner">
                  <div class="swiper-container main-slider">
                    <div class="swiper-wrapper">
                      <div class="swiper-slide"><img src="../../../resources/images/main/img_snsPage1.png" alt="" /></div>
                      <div class="swiper-slide"><img src="../../../resources/images/main/img_snsPage2.png" alt="" /></div>
                      <div class="swiper-slide"><img src="../../../resources/images/main/img_snsPage3.png" alt="" /></div>
                      <div class="swiper-slide"><img src="../../../resources/images/main/img_snsPage4.png" alt="" /></div>
                    </div>
                    <div class="swiper-pagination"></div>
                  </div>
                </div>
              </div>
              <div class="event02-detail-info--wrap">
                <div class="box-inner">
                  <h3 class="detail-info--title">
                    꼬북칩 덕질 콘테스트 참여하고<br />
                    <strong>대형 꼬북칩 & 역대급 신상 꼬북칩</strong>을<br />
                    만나보세요!
                  </h3>
                  <div class="event-info--item">
                    <h4 class="event-info--cate">이벤트 기간</h4>
                    <p class="event-info-sub--desc">5/27(월)~7/21(일) *24시 종료</p>
                  </div>
                  <div class="event-info--item">
                    <h4 class="event-info--cate">참여 방법</h4>
                    <p class="event-info-sub--desc">
                      <strong>최애 꼬북칩의 팬심을 담아 인증샷을 올려주세요</strong><br />
                      <small class="info-small--text"> (콘스프맛 or 초코츄러스맛 중 택1) </small>
                    </p>

                    <div class="event-detail-sub--wrap">
                      <div class="event-detail-sub--item event-sub-item01">
                        <div class="detail-con">
                          <div class="sns-deco-img--wrap">
                            <img src="../../../resources/images/icon/ico-insta.png" alt="인스타그램" class="sns-img" />
                          </div>
                          <h4 class="event-detail--title">1. 인스타그램 스토리 또는 게시글 참여 시</h4>
                          <div class="img--wrap">
                            <img src="../../../resources/images/main/img-event-deco.png" alt="" />
                          </div>
                          <p class="event-detail--desc">
                            <strong>@orion_kkobukchips 계정 태그 후</strong><br />
                            꼬북칩 덕질 인증샷을<br />
                            <strong>스토리 또는 게시글로 업로드</strong>하면 참여 완료!
                          </p>
                        </div>
                        <a href="javascript:void(0)" class="event-button btn-effect">계정 ID 복사하기</a>
                      </div>

                      <div class="event-detail-sub--item event-sub-item02">
                        <div class="detail-con">
                          <div class="sns-deco-img--wrap">
                            <img src="../../../resources/images/icon/ico-facebook.png" alt="페이스북" class="sns-img" />
                            <img src="../../../resources/images/icon/ico-blog.png" alt="블로그" class="sns-img" />
                            <img src="../../../resources/images/icon/ico-twitter.png" alt="트위터" class="sns-img" />
                            <img src="../../../resources/images/icon/ico-ytb.png" alt="유튜브" class="sns-img" />
                          </div>
                          <h4 class="event-detail--title">2. 그외 SNS 게시글 참여 시</h4>
                          <p class="event-detail--desc">
                            SNS 게시글 작성 후<br />
                            아래의 <strong>[게시글 링크 제출하기]</strong> 버튼을 클릭하여<br />
                            SNS 게시물 링크를 제출하면 참여 완료!
                          </p>
                        </div>
                        <button type="button" class="event-button btn-effect" onclick="layerPopup.openPopup('event02Popup', true)">게시글 링크 제출하기</button>
                      </div>
                    </div>
                  </div>
                  <div class="event-info--item">
                    <h4 class="event-info--cate">이벤트 경품</h4>
                    <div class="event-img-list--wrap">
                      <div class="event-img-list--item">
                        <div class="event-img--thumnail">
                          <img src="../../../resources/images/main/event-img-thumnail01.png" alt="" />
                        </div>
                        <p class="event-img--desc">
                          <strong>대형 꼬북칩 1 PACK</strong><br />
                          (콘스프맛 or 초코츄러스맛)
                        </p>
                      </div>
                      <div class="event-img-list--item">
                        <div class="event-img--thumnail">
                          <img src="../../../resources/images/main/event-img-thumnail02.png" alt="" />
                        </div>
                        <p class="event-img--desc">
                          <strong>
                            역대급 신제품<br />
                            꼬북칩 1 BOX
                          </strong>
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="event-info--item">
                    <h4 class="event-info--cate">당첨자 발표</h4>
                    <p class="event-info-sub--desc list">1차 이벤트 당첨자 발표 : <strong>6/26(수) 20명</strong></p>
                    <p class="event-info-sub--desc list">2차 이벤트 당첨자 발표 : <strong>7/26(금) 20명</strong></p>
                    <p class="event-info-sub--desc list">당첨자 발표는 당첨자에 한해 개별 연락을 통해 ​안내드립니다.</p>
                    <small class="info-small--text"> 인스타그램 스토리 또는 게시글 참여 - 개별 DM 안내 </small>
                    <small class="info-small--text"> 그 외 SNS 게시글을 통한 링크 제출 참여 - 기입하신 연락처로 개별 MMS로 안내 </small>
                    <small class="info-small--text"> 작성한 게시글은 오리온 온/오프라인 채널 홍보용으로 활용될 수 있습니다. </small>
                  </div>
                </div>
              </div>
            </div>
            <div class="sns-share--wrap">
              <div class="box-inner">
                <div class="sns-share--list">
                  <a href="javascript:void(0)" target="_blank" class="sns-share--item facebook"><span class="blind">페이스북</span></a>
                  <a href="javascript:void(0)" target="_blank" class="sns-share--item twitter"><span class="blind">트위터</span></a>
                  <a href="javascript:void(0)" target="_blank" class="sns-share--item kakao"><span class="blind">카카오</span></a>
                  <a href="javascript:void(0)" target="_blank" class="sns-share--item link"><span class="blind">링크</span></a>
                </div>
              </div>
            </div>
            <div class="event-caution--wrap">
              <div class="box-inner">
                <h3 class="event-caution--title">유의사항</h3>
                <div class="event-caution-desc--wrap">
                  <p class="event-caution-desc--item">이벤트 운영 및 경품은 주최 측 사정에 의해 변경될 수 있습니다.</p>
                  <p class="event-caution-desc--item">참여자가 당첨자 본인이 아닐 경우 당첨이 취소될 수 있습니다.</p>
                  <p class="event-caution-desc--item">기간 내 정보를 보내지 않으시거나 중복 당첨이 확인될 경우 당첨이 취소되오니 유의 바랍니다.</p>
                  <p class="event-caution-desc--item">경품은 당첨자 정보 취합 이후 일괄 발송될 예정입니다.</p>
                  <p class="event-caution-desc--item">이벤트는 주최 측의 사정에 의해 일부 일정이 변경되거나 종료될 수 있습니다.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </main>
      <!-- //컨텐츠 -->
      <!-- footer 위에 위치 -->
      <div class="floating-box floating-box-link">
        <div class="section-inner">
          <a href="javascript:void(0)" class="floating-vote-scroll-btn" data-link="voteFavor">
            <span class="text"> 투표 바로가기 </span>
            <span class="arrow">
              <img src="../../../resources/images/main/img-scroll-arrow.png" alt="투표 바로가기" />
            </span>
          </a>
          <div class="floating-button--wrap btn-effect">
            <a href="javascript:void(0)" class="floating-button" data-link="event1">
              <span class="small-text">EVENT1</span>
              <span class="big-text">응원톡 매치</span>
            </a>
            <a href="javascript:void(0)" class="floating-button" data-link="voteFavor">
              <span class="small-text">콘스프맛vs초코츄러스맛</span>
              <span class="img-vote--title">
                <img src="../../../resources/images/main/img-floating-title.png" alt="투표하기" />
              </span>
            </a>
            <a href="javascript:void(0)" class="floating-button" data-link="event2">
              <span class="small-text">EVENT2</span>
              <span class="big-text">덕질 콘테스트</span>
            </a>
          </div>
        </div>
      </div>
      <!-- 푸터 -->
      @@include('../../../includes/footer.html')
      <!-- // 푸터 -->
    </div>
  </body>
  <!--투표하기 팝업 -->
  @@include('../../../includes/popup/votePopup.html')
  <!-- 투표완료 팝업 -->
  @@include('../../../includes/popup/voteCompletedPopup.html')
  <!-- 응원톡 매치 이벤트 팝업 -->
  @@include('../../../includes/popup/event01Popup.html')
  <!-- 응원톡 매치 이벤트 참여완료 팝업 -->
  @@include('../../../includes/popup/event01CompletedPopup.html')
  <!-- 직관 인증샷 매치 이벤트 팝업 -->
  @@include('../../../includes/popup/event02Popup.html')
  <!-- 직관 인증샷 매치 이벤트 참여완료 팝업 -->
  @@include('../../../includes/popup/event02CompletedPopup.html')
  <script>
    function startCounter() {
      // let scrollY = (window.pageYOffset || document.documentElement.scrollTop) + window.innerHeight;
      // let divPos = document.querySelector('.event01-content--wrap').offsetTop;

      var scrollY = $(window).scrollTop();
      let divPos = $('.vote-favor--wrap .lottie').offset().top - 150;

      if (scrollY > divPos) {
        $(window).off('scroll', startCounter);

        $('.count').each(function () {
          var $this = $(this);
          jQuery({
            Counter: 0,
          }).animate(
            {
              Counter: $this.text().replace(/,/g, ''),
            },
            {
              duration: 1000,
              easing: 'swing',
              step: function () {
                $this.text(commaSeparateNumber(Math.floor(this.Counter)));
              },
              complete: function () {
                $this.text(commaSeparateNumber(this.Counter));
              },
            }
          );
        });

        function commaSeparateNumber(num) {
          return num.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ',');
        }
      }
    }
    if ($('.vote-favor--wrap').length) {
      $(window).scroll(startCounter);
    }
    // 투표하기 영역에서 게이지 차오르는 애니메이션
    window.gageAniFunc();
  </script>
</html>
