<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content_old="width=device-width, initial-scale=1.0, user-scalable=no, maximum-scale=1, shrink-to-fit=no" content="width=device-width, initial-scale=1.0, user-scalable=no, height=device-height, maximum-scale=1.0" />
  <meta name="title" content="스트릿꼬북파이트" />
  <meta name="description" content="당신의 꼬북칩에 투표하세요!" />
  <meta name="keywords" content="" />
  <meta property="og:title" content="스트릿꼬북파이트" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="" />
  <meta property="og:image" content="../../../resources/images/OG.png" />
  <link rel="icon" href="../../../resources/images/pavicon.png" />
  <link rel="stylesheet" href="../../../resources/plugins/swiper/swiper-bundle.min.css" />
  <link rel="stylesheet" href="../../../resources/plugins/selectric/selectric.css" />
  <link rel="stylesheet" href="../../../resources/plugins/datepicker/tui-time-picker.css" />
  <link rel="stylesheet" href="../../../resources/plugins/datepicker/tui-date-picker.css" />
  <link rel="stylesheet" href="../../../resources/plugins/aos/aos.css" />
  <link rel="stylesheet" href="../../../resources/css/style.css" />
  <script src="../../../resources/plugins/jquery-3.7.1.min.js"></script>
  <script src="../../../resources/plugins/swiper/swiper-bundle.min.js"></script>
  <script src="../../../resources/plugins/selectric/jquery.selectric.js"></script>
  <script src="../../../resources/plugins/gsap/gsap.min.js"></script>
  <script src="../../../resources/plugins/aos/aos.js"></script>
  <script src="../../../resources/plugins/datepicker/tui-time-picker.js"></script>
  <script src="../../../resources/plugins/datepicker/tui-date-picker.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bodymovin/5.7.12/lottie.min.js" type="text/javascript"></script>
  <script src="../../../resources/js/common-ui.js"></script>
  <title>스트리트 꼬북 파이터</title>

</head>

<body>
  <div id="container" class="popup-list-container">
    <div class="section-inner">
      <h1>팝업 모음</h1>
      <div class="notice">
        <ul>
          <li><strong>* 프로젝트의 모든 팝업을 확인할수 있는 페이지 입니다.</strong></li>
          <li>* 팝업 열기 함수 - <strong style="color: #d8027d">layerPopup.openPopup('팝업아이디')</strong></li>
          <li>* 특정 팝업 닫기 함수 - <strong style="color: #d8027d">layerPopup.closePopup('팝업아이디')</strong></li>
          <li>* 전체 팝업 닫기 함수 - <strong style="color: #d8027d">layerPopup.closeAllPopup()</strong></li>
          <li>
            * dim을 눌렀을때 팝업이 닫히지 않게끔 하기위해서<br />
              두번째 인자로 true값을 줍니다.<strong style="color: #d8027d">layerPopup.openPopup('팝업아이디', true)</strong>
          </li>
        </ul>
      </div>
      <div class="list-container">
        <div class="list-item">
          <h2 class="list-type">팝업 타입</h2>
          <div class="list-row">
            <div class="name">내부스크롤 팝업</div>
            <button type="button" class="btn small primary" onclick="layerPopup.openPopup('layerPopup01', true)">확인</button>
          </div>
          <div class="list-row">
            <div class="name">풀스크롤 팝업</div>
            <button type="button" class="btn small primary" onclick="layerPopup.openPopup('fullScrollPopup', true)">확인</button>
          </div>
        </div>
        <div class="list-item">
          <h2 class="list-type">공통 팝업</h2>
          <div class="list-row">
            <div class="name">alert 팝업</div>
            <button type="button" class="btn small primary" onclick="layerPopup.openPopup('systemAlertPopup', true)">확인</button>
          </div>
          <div class="list-row">
            <div class="name">confirm 팝업</div>
            <button type="button" class="btn small primary" onclick="layerPopup.openPopup('systemConfirmPopup', true)">확인</button>
          </div>
        </div>
        <div class="list-item">
          <h2 class="list-type">투표 및 응모관련 팝업</h2>
          <div class="list-row">
            <div class="name">투표팝업</div>
            <button type="button" class="btn small primary" onclick="layerPopup.openPopup('votePopup', true)">확인</button>
          </div>
          <div class="list-row">
            <div class="name">투표참여완료 팝업</div>
            <button type="button" class="btn small primary" onclick="layerPopup.openPopup('voteCompletedPopup', true)">확인</button>
          </div>
        </div>
        <div class="list-item">
          <h2 class="list-type">응원톡 매치 이벤트 참여 관련 팝업</h2>
          <div class="list-row">
            <div class="name">응원톡 매치 이벤트 팝업</div>
            <button type="button" class="btn small primary" onclick="layerPopup.openPopup('event01Popup', true)">확인</button>
          </div>
          <div class="list-row">
            <div class="name">응원톡 매치 이벤트 참여완료 팝업</div>
            <button type="button" class="btn small primary" onclick="layerPopup.openPopup('event01CompletedPopup', true)">확인</button>
          </div>
        </div>
        <div class="list-item">
          <h2 class="list-type">직관 인증샷 매치 이벤트 참여 관련 팝업</h2>
          <div class="list-row">
            <div class="name">직관 인증샷 매치 이벤트 팝업</div>
            <button type="button" class="btn small primary" onclick="layerPopup.openPopup('event02Popup', true)">확인</button>
          </div>
          <div class="list-row">
            <div class="name">직관 인증샷 매치 이벤트 참여완료 팝업</div>
            <button type="button" class="btn small primary" onclick="layerPopup.openPopup('event02CompletedPopup', true)">확인</button>
          </div>
        </div>
        <div style="height: 800px"></div>
      </div>
    </div>
  </div>

  <!-- alert 팝업 -->
  <div class="layer-popup" id="systemAlertPopup">
    <div class="popup-container small">
      <div class="popup-header">
        <button type="button" class="btn-close popup-close">닫기</button>
      </div>
      <div class="popup-content">
        <div class="popup-inner">alert 팝업</div>
      </div>
      <div class="popup-footer">
        <div class="btn-area">
          <button type="button" class="btn btn-ok">완료</button>
        </div>
      </div>
    </div>
  </div>

  <!-- confirm 팝업 -->
  <div class="layer-popup" id="systemConfirmPopup">
    <div class="popup-container medium">
      <div class="popup-header">
        <div class="popup-title">
          <strong>팝업타이틀</strong>
        </div>
        <button type="button" class="btn-close popup-close">닫기</button>
      </div>
      <div class="popup-content">
        <div class="popup-inner">confirm 팝업</div>
      </div>
      <div class="popup-footer">
        <div class="btn-area half">
          <button type="button" class="btn btn-close popup-close">취소</button>
          <button type="button" class="btn btn-ok">완료</button>
        </div>
      </div>
    </div>
  </div>

  <!-- 내부스크롤 팝업 -->
  <div class="layer-popup" id="layerPopup01">
    <div class="popup-container medium">
      <div class="popup-header">
        <div class="popup-title">
          <strong>팝업타이틀</strong>
        </div>
        <button type="button" class="btn-close popup-close">닫기</button>
      </div>
      <div class="popup-content">
        <div class="popup-inner">
          <div style="height: 800px; background-color: #f1f1f1"></div>
        </div>
      </div>
      <div class="popup-footer">
        <div class="btn-area half">
          <button type="button" class="btn btn-close popup-close">취소</button>
          <button type="button" class="btn btn-ok">완료</button>
        </div>
      </div>
    </div>
  </div>

  <!-- 풀 스크롤 팝업 -->
  <div class="layer-popup full-scroll" id="fullScrollPopup">
    <div class="popup-container medium">
      <div class="popup-header">
        <div class="popup-title">
          <strong>팝업타이틀</strong>
        </div>
        <button type="button" class="btn-close popup-close">닫기</button>
      </div>
      <div class="popup-content">
        <div class="popup-inner">
          <div style="height: 800px; background-color: #f1f1f1"></div>
        </div>
      </div>
      <div class="popup-footer">
        <div class="btn-area half">
          <button type="button" class="btn btn-close popup-close">취소</button>
          <button type="button" class="btn btn-ok">완료</button>
        </div>
      </div>
    </div>
  </div>

  <!--투표하기 팝업 -->
  <div class="layer-popup c-common-orion vote-popup full-scroll" id="votePopup">
    <div class="popup-container small">
      <div class="popup-header">
        <button type="button" class="btn-close popup-close">닫기</button>
      </div>
      <div class="popup-content">
        <div class="popup-inner">
          <div class="vote-title--wrap">
            <h2 class="vote-big--title">
              <img src="../../../resources/images/popup/img-vote-popup-title.png" alt="스트리트 꼬북 파이터" />
            </h2>
            <p class="vote-desc">
              역대급 신제품에 대적할<br />
            최강 꼬북 파이터는 과연 누가 될 것인가?
            </p>
          </div>
          <div class="popup-con">
            <div class="vote-select-item--wrap">
              <label for="voteConsoupFavor" class="vote-image--item soup">
                <input type="radio" name="voteFavor" id="voteConsoupFavor" />
                <div class="vote-image"></div>
              </label>
              <label for="voteChocolateFavor" class="vote-image--item chocolate">
                <input type="radio" name="voteFavor" id="voteChocolateFavor" />
                <div class="vote-image"></div>
              </label>
            </div>
          </div>
        </div>
      </div>
      <div class="popup-footer">
        <div class="btn-area">
          <button type="button" class="btn btn-ok popup-vote" onclick="layerPopup.closePopup('votePopup'); layerPopup.openPopup('voteCompletedPopup')">투표하기</button>
        </div>
      </div>
    </div>
  </div>

  <!-- 투표완료 팝업 -->
  <div class="layer-popup c-common-orion common-complete-popup" id="voteCompletedPopup">
    <div class="popup-container small">
      <div class="popup-header">
        <button type="button" class="btn-close popup-close">닫기</button>
      </div>
      <div class="popup-content">
        <div class="popup-inner">
          <div class="big-title--wrap">
            <h2 class="popup-big--title">투표완료!</h2>
          </div>
          <div class="popup-con">
            <div class="sns-share--wrap">
              <p class="sns-share--text">친구에게 이벤트 소문 내기</p>
              <div class="sns-share--list">
                <a href="javascript:void(0)" target="_blank" class="sns-share--item facebook"><span class="blind">페이스북</span></a>
                <a href="javascript:void(0)" target="_blank" class="sns-share--item twitter"><span class="blind">트위터</span></a>
                <a href="javascript:void(0)" target="_blank" class="sns-share--item kakao"><span class="blind">카카오</span></a>
                <a href="javascript:void(0)" target="_blank" class="sns-share--item link"><span class="blind">링크</span></a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="popup-footer">
        <div class="btn-area">
          <button type="button" class="btn btn-ok popup-close">닫기</button>
        </div>
      </div>
    </div>
  </div>

  <!-- 응원톡 매치 이벤트 팝업 -->
  <div class="layer-popup full-scroll c-common-orion event-popup" id="event01Popup">
    <div class="popup-container small">
      <div class="popup-header">
        <button type="button" class="btn-close popup-close">닫기</button>
      </div>
      <div class="popup-content">
        <div class="popup-inner">
          <div class="event-title--wrap">
            <h2 class="event-num--title">
              <img src="../../../resources/images/popup/img-event01-title.png" alt="event1" />
            </h2>
            <h2 class="event-text--title">
              <img src="../../../resources/images/popup/img-event01-text--title.png" alt="응원톡 매치" />
            </h2>
          </div>
          <div class="popup-con">
            <div class="userwriting-wrap">
              <div class="nickname-wrap">
                <div class="flex-box--wrap alincnt nickname">
                  <div class="input-cover">
                    <input type="text" id="username" name="username" title="이름" class="form-input input-active length-check-item c-common-input--style" autocomplete="off" placeholder="닉네임(최대 8자)" />
                  </div>
                  <p class="desc">님 응원톡을 남겨주세요!</p>
                </div>
                <p class="info-desc">※ 닉네임 미작성 시 응원한 꼬북칩 이름으로 자동 설정</p>
                <div class="length-check-cover">
                  <textarea id="cheerTextarea" class="form-textarea full cheerTextarea length-check-item c-common-input--style" data-maxlength="50" placeholder="최애 플레이버를 응원하는 톡을 남겨주세요! (최대 50자) 주제와 무관한 댓글, 악플은 삭제될 수 있습니다."></textarea>
                </div>
              </div>
              <p class="cheering-text">응원하는 꼬북칩을 선택하세요</p>
              <div class="cheer-favor--wrap">
                <label class="cheer-favor--item consoup" for="cheerFavorOption1">
                  <input type="radio" name="cheerFavor" id="cheerFavorOption1" />
                  <div class="cheer-image"></div>
                </label>
                <label class="cheer-favor--item chocolate" for="cheerFavorOption2">
                  <input type="radio" name="cheerFavor" id="cheerFavorOption2" />
                  <div class="cheer-image"></div>
                </label>
              </div>
              <div class="privacy-wrap">
                <h2 class="privacy-title">개인정보 수집 및 이용 동의</h2>
                <p class="privacy-desc">이벤트 응모를 위해 개인 정보를 입력해 주세요.</p>
                <div class="privacy-wrting--wrap">
                  <div class="flex-box--wrap alincnt">
                    <label for="name" class="c-commmon--label">이름</label>
                    <div class="column-wrap">
                      <div class="input-cover length-check-cover">
                        <input type="text" id="username" name="username" title="이름" class="form-input input-active c-common-input--style length-check-item" autocomplete="off" data-maxlength="50" />
                      </div>
                    </div>
                  </div>
                  <div class="flex-box--wrap alinbase">
                    <label for="phonenumber" class="c-commmon--label">휴대전화번호</label>
                    <div class="column-wrap">
                      <div class="input-cover">
                        <input type="tel" id="numberOnly" name="numberOnly" title="휴대전화번호" class="form-input input-active length-check-item c-common-input--style" autocomplete="off" placeholder="- 제외하고 입력" oninput="this.value = window.onlyNumber(this.value)" maxlength="11" />
                      </div>
                      <p class="info-desc">※ 참여자가 당첨자 본인이 아닐 경우 당첨이 취소될 수 있습니다.</p>
                    </div>
                  </div>
                </div>
                <div class="privacy-check--wrap">
                  <div class="privacy-check--item">
                    <div class="flex-box--wrap alincnt">
                      <div class="selector-cover checkbox square">
                        <label class="label">
                          <input type="checkbox" name="" id="" />
                          <span class="selector-text privacy-text">(필수) 개인정보 수집 및 이용, 위탁동의</span>
                        </label>
                      </div>
                      <button type="button" class="privacy-controll--button">
                        <span class="text default">자세히▼</span>
                        <span class="text fold">접기▲</span>
                      </button>
                    </div>
                    <div class="privacy-scroll-box--item">
                      <strong>개인정보 수집 · 이용 동의 (필수)</strong><br />
                      <br />
                      <strong> 개인정보의 수집 · 이용 목적/기간/수집 거부의 권리 </strong>
                      <br /><br />
                    아래는 ‘<스트리트 꼬북 파이터> 운영 사무국’ (이하 “사무국”)의 캠페인 진행 및 캠페인 관련 안내를 위한 연락 등을 목적으로 사용되는 개인정보에 대한 수집 및 이용 동의 확인 절차입니다.<br /><br />
                        <div class="privacy-table--wrap">
                          <table>
                            <caption class="blind">
                              1. 개인정보의 수집 · 이용 목적 / 기간 / 수집 거부의 권리
                            </caption>
                            <colgroup>
                              <col width="33.33%" />
                              <col width="33.33%" />
                              <col width="33.33%" />
                            </colgroup>
                            <thead>
                              <th>수집/이용 목적</th>
                              <th>수집 항목(필수)</th>
                              <th>보유 기간</th>
                            </thead>
                            <tbody>
                              <tr>
                                <td>
                                  <p>
                                    <스트리트 꼬북 파이터> 응원톡 매치 이벤트 운영
                                  </p>
                                </td>
                                <td>
                                  <p>필수: 이름, 휴대전화번호</p>
                                </td>
                                <td>
                                  <strong>2024.05.27 ~ 2024.11.26 이내 파기 </strong>
                                </td>
                              </tr>
                              <tr>
                                <td>
                                  <p>
                                    <스트리트 꼬북 파이터> 응원톡 매치 당첨자 선정/안내 및 경품 발송
                                  </p>
                                </td>
                                <td>
                                  <p>필수: 이름, 휴대전화번호, 주소, SNS 아이디</p>
                                </td>
                                <td>
                                  <strong>2024.05.27 ~ 2024.11.26 이내 파기 </strong>
                                </td>
                              </tr>
                              <tr>
                                <td>
                                  <p>
                                    <스트리트 꼬북 파이터> 덕질 콘테스트 이벤트 운영
                                  </p>
                                </td>
                                <td>
                                  <p>필수: 이름, 휴대전화번호</p>
                                </td>
                                <td>
                                  <strong>2024.05.27 ~ 2024.11.26 이내 파기 </strong>
                                </td>
                              </tr>
                              <tr>
                                <td>
                                  <p>
                                    <스트리트 꼬북 파이터> 덕질 콘테스트 당첨자 선정/안내 및 경품 발송
                                  </p>
                                </td>
                                <td>
                                  <p>필수: 이름, 휴대전화번호, 주소, SNS아이디</p>
                                </td>
                                <td>
                                  <strong>2024.05.27 ~ 2024.11.26 이내 파기 </strong>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                          <br />
                      ※ 본 동의는 이벤트 응모를 위한 개인정보 수집/이용에 대한 동의로서, 동의를 거부 할 권리가 있으나, 동의하지 않으실 경우 이벤트에 응모하실 수 없습니다.
                          <br /><br />
                      ※법령에 따른 개인정보의 수집/이용, 계약의 이행/편의증진을 위한 개인정보 처리위탁 및 개인정보처리와 관련된 일반사항을 서비스의 개인정보처리방침에 따릅니다.<br /><br />
                          <strong>개인정보 처리의 위탁</strong><br /><br />

                          <스트리트 꼬북 파이터> 운영 사무국’ (이하 “사무국”) 진행을 위해 참가자의 개인 정보를 외부에 위탁하여 처리하고 있으며, 관계법령에 따라 위탁 계약 시, 개인정보가 안전하게 관리될 수 있도록 규정하고 있습니다. 동 캠페인의 개인정보취급 수탁자와 그 업무의 내용은 아래와 같습니다.<br /><br />

                            <table>
                              <caption class="blind">
                                2. 개인정보 처리의 위탁
                              </caption>
                              <colgroup>
                                <col />
                                <col />
                              </colgroup>
                              <thead>
                                <th>제공받는자</th>
                                <th>업무 내용</th>
                              </thead>
                              <tbody>
                                <tr>
                                  <td>
                                    <p>대학내일</p>
                                  </td>
                                  <td>
                                    <strong>
                                위탁업무: <스트리트 꼬북 파이터> 캠페인 운영<br />

                                보유 및 파기기간 : 2024.05.27 ~ 2024.11.26 이내 파기
                              </strong>
                                  </td>
                                </tr>
                                <tr>
                                  <td>
                                    <p>대한통운</p>
                                  </td>
                                  <td>
                                    <strong>
                                위탁업무: <경품 발송><br />

                                보유 및 파기기간 : 2024.05.27 ~ 2024.11.26 이내 파기
                              </strong>
                                  </td>
                                </tr>
                                <tr>
                                  <td>
                                    <p>베테랑퀵서비스</p>
                                  </td>
                                  <td>
                                    <strong>
                                위탁업무: <경품 발송><br />

                                보유 및 파기기간 : 2024.05.27 ~ 2024.11.26 이내 파기
                              </strong>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                            <br /><br />
                      ※ 본 동의는 이벤트 응모를 위한 개인정보 처리 위탁에 대한 동의로서, 동의를 거부 할 권리가 있으나, 동의하지 않으실 경우 이벤트에 응모하실 수 없습니다.
                        </div>
                    </div>
                    <p class="privacy-caution--text">*본 이벤트는 만 14세 미만은 참여가 어렵습니다.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="popup-footer">
          <div class="btn-area">
            <button type="button" class="btn btn-ok popup-close">이벤트 참여하기</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- 응원톡 매치 이벤트 참여완료 팝업 -->
  <div class="layer-popup c-common-orion common-complete-popup" id="event01CompletedPopup">
    <div class="popup-container small">
      <div class="popup-header">
        <button type="button" class="btn-close popup-close">닫기</button>
      </div>
      <div class="popup-content">
        <div class="popup-inner">
          <div class="big-title--wrap">
            <h2 class="popup-big--title">응원톡 매치 참여 완료!</h2>
          </div>
          <div class="popup-con">
            <div class="sns-share--wrap">
              <p class="sns-share--text">친구에게 이벤트 소문 내기</p>
              <div class="sns-share--list">
                <a href="javascript:void(0)" target="_blank" class="sns-share--item facebook"><span class="blind">페이스북</span></a>
                <a href="javascript:void(0)" target="_blank" class="sns-share--item twitter"><span class="blind">트위터</span></a>
                <a href="javascript:void(0)" target="_blank" class="sns-share--item kakao"><span class="blind">카카오</span></a>
                <a href="javascript:void(0)" target="_blank" class="sns-share--item link"><span class="blind">링크</span></a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="popup-footer">
        <div class="btn-area">
          <button type="button" class="btn btn-ok popup-close">닫기</button>
        </div>
      </div>
    </div>
  </div>

  <!-- 직관 인증샷 매치 이벤트 팝업 -->
  <div class="layer-popup full-scroll c-common-orion event-popup" id="event02Popup">
    <div class="popup-container small">
      <div class="popup-header">
        <button type="button" class="btn-close popup-close">닫기</button>
      </div>
      <div class="popup-content">
        <div class="popup-inner">
          <div class="event-title--wrap">
            <h2 class="event-num--title num02">
              <img src="../../../resources/images/popup/img-event02-title.png" alt="event1" />
            </h2>
            <h2 class="event-text--title title02">
              <img src="../../../resources/images/popup/img-event02-text--title.png" alt="응원톡 매치" />
            </h2>
          </div>
          <div class="popup-con">
            <div class="userwriting-wrap">
              <div class="sns-url--wrap">
                <div class="flex-box--wrap alincnt">
                  <p class="desc" style="margin-left: 0">그 외 SNS 게시글 URL</p>
                  <div class="small-sns--list">
                    <div class="sns-image--item">
                      <img src="../../../resources/images/icon/ico-facebook.png" alt="페이스북" />
                    </div>
                    <div class="sns-image--item">
                      <img src="../../../resources/images/icon/ico-blog.png" alt="네이버 블로그" />
                    </div>
                    <div class="sns-image--item">
                      <img src="../../../resources/images/icon/ico-twitter.png" alt="트위터" />
                    </div>
                    <div class="sns-image--item">
                      <img src="../../../resources/images/icon/ico-ytb.png" alt="유튜브" />
                    </div>
                  </div>
                </div>
                <div class="input-cover length-check-cover sns-url">
                  <input type="text" id="snsURL" name="snsURL" title="sns 게시글" class="form-input input-active c-common-input--style length-check-item" autocomplete="off" data-maxlength="1000" placeholder="SNS 게시글 URL을 입력해주세요." />
                </div>
                <p class="info-desc">
                  ※ 작성 전 필수 확인!<br />
                - SNS 게시글 링크 오류 및 비공개 시 이벤트 참여가 되지 않습니다.<br />
                - 인스타그램을 제외한 기타 SNS채널 게시글 링크 제출란입니다.
                </p>
              </div>
              <p class="cheering-text">응원하는 꼬북칩을 선택하세요</p>
              <div class="cheer-favor--wrap">
                <label class="cheer-favor--item consoup" for="cheerFavorOption21">
                  <input type="radio" name="cheerFavor2" id="cheerFavorOption21" />
                  <div class="cheer-image"></div>
                </label>
                <label class="cheer-favor--item chocolate" for="cheerFavorOption22">
                  <input type="radio" name="cheerFavor2" id="cheerFavorOption22" />
                  <div class="cheer-image"></div>
                </label>
              </div>
              <div class="privacy-wrap">
                <h2 class="privacy-title">개인정보 수집 및 이용 동의</h2>
                <p class="privacy-desc">이벤트 응모를 위해 개인 정보를 입력해 주세요.</p>
                <div class="privacy-wrting--wrap">
                  <div class="flex-box--wrap alincnt">
                    <label for="name" class="c-commmon--label">이름</label>
                    <div class="column-wrap">
                      <div class="input-cover length-check-cover">
                        <input type="text" id="username" name="username" title="이름" class="form-input input-active c-common-input--style length-check-item" autocomplete="off" data-maxlength="50" />
                      </div>
                    </div>
                  </div>
                  <div class="flex-box--wrap alinbase">
                    <label for="phonenumber" class="c-commmon--label">휴대전화번호</label>
                    <div class="column-wrap">
                      <div class="input-cover">
                        <input type="tel" id="numberOnly" name="numberOnly" title="휴대전화번호" class="form-input input-active length-check-item c-common-input--style" autocomplete="off" placeholder="- 제외하고 입력" oninput="this.value = window.onlyNumber(this.value)" maxlength="11" />
                      </div>
                      <p class="info-desc">※ 참여자가 당첨자 본인이 아닐 경우 당첨이 취소될 수 있습니다.</p>
                    </div>
                  </div>
                </div>
                <div class="privacy-check--wrap">
                  <div class="privacy-check--item">
                    <div class="flex-box--wrap alincnt">
                      <div class="selector-cover checkbox square">
                        <label class="label">
                          <input type="checkbox" name="" id="" />
                          <span class="selector-text privacy-text">(필수) 개인정보 수집 및 이용, 위탁동의</span>
                        </label>
                      </div>
                      <button type="button" class="privacy-controll--button">
                        <span class="text default">자세히▼</span>
                        <span class="text fold">접기▲</span>
                      </button>
                    </div>
                    <div class="privacy-scroll-box--item">
                      <strong>개인정보 수집 · 이용 동의 (필수)</strong><br />
                      <br />
                      <strong> 개인정보의 수집 · 이용 목적/기간/수집 거부의 권리 </strong>
                      <br /><br />
                    아래는 ‘<스트리트 꼬북 파이터> 운영 사무국’ (이하 “사무국”)의 캠페인 진행 및 캠페인 관련 안내를 위한 연락 등을 목적으로 사용되는 개인정보에 대한 수집 및 이용 동의 확인 절차입니다.<br /><br />
                        <div class="privacy-table--wrap">
                          <table>
                            <caption class="blind">
                              1. 개인정보의 수집 · 이용 목적 / 기간 / 수집 거부의 권리
                            </caption>
                            <colgroup>
                              <col width="33.33%" />
                              <col width="33.33%" />
                              <col width="33.33%" />
                            </colgroup>
                            <thead>
                              <th>수집/이용 목적</th>
                              <th>수집 항목(필수)</th>
                              <th>보유 기간</th>
                            </thead>
                            <tbody>
                              <tr>
                                <td>
                                  <p>
                                    <스트리트 꼬북 파이터> 응원톡 매치 이벤트 운영
                                  </p>
                                </td>
                                <td>
                                  <p>필수: 이름, 휴대전화번호</p>
                                </td>
                                <td>
                                  <strong>2024.05.27 ~ 2024.11.26 이내 파기 </strong>
                                </td>
                              </tr>
                              <tr>
                                <td>
                                  <p>
                                    <스트리트 꼬북 파이터> 응원톡 매치 당첨자 선정/안내 및 경품 발송
                                  </p>
                                </td>
                                <td>
                                  <p>필수: 이름, 휴대전화번호, 주소, SNS 아이디</p>
                                </td>
                                <td>
                                  <strong>2024.05.27 ~ 2024.11.26 이내 파기 </strong>
                                </td>
                              </tr>
                              <tr>
                                <td>
                                  <p>
                                    <스트리트 꼬북 파이터> 덕질 콘테스트 이벤트 운영
                                  </p>
                                </td>
                                <td>
                                  <p>필수: 이름, 휴대전화번호</p>
                                </td>
                                <td>
                                  <strong>2024.05.27 ~ 2024.11.26 이내 파기 </strong>
                                </td>
                              </tr>
                              <tr>
                                <td>
                                  <p>
                                    <스트리트 꼬북 파이터> 덕질 콘테스트 당첨자 선정/안내 및 경품 발송
                                  </p>
                                </td>
                                <td>
                                  <p>필수: 이름, 휴대전화번호, 주소, SNS아이디</p>
                                </td>
                                <td>
                                  <strong>2024.05.27 ~ 2024.11.26 이내 파기 </strong>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                          <br />
                      ※ 본 동의는 이벤트 응모를 위한 개인정보 수집/이용에 대한 동의로서, 동의를 거부 할 권리가 있으나, 동의하지 않으실 경우 이벤트에 응모하실 수 없습니다.
                          <br /><br />
                      ※법령에 따른 개인정보의 수집/이용, 계약의 이행/편의증진을 위한 개인정보 처리위탁 및 개인정보처리와 관련된 일반사항을 서비스의 개인정보처리방침에 따릅니다.<br /><br />
                          <strong>개인정보 처리의 위탁</strong><br /><br />

                          <스트리트 꼬북 파이터> 운영 사무국’ (이하 “사무국”) 진행을 위해 참가자의 개인 정보를 외부에 위탁하여 처리하고 있으며, 관계법령에 따라 위탁 계약 시, 개인정보가 안전하게 관리될 수 있도록 규정하고 있습니다. 동 캠페인의 개인정보취급 수탁자와 그 업무의 내용은 아래와 같습니다.<br /><br />

                            <table>
                              <caption class="blind">
                                2. 개인정보 처리의 위탁
                              </caption>
                              <colgroup>
                                <col />
                                <col />
                              </colgroup>
                              <thead>
                                <th>제공받는자</th>
                                <th>업무 내용</th>
                              </thead>
                              <tbody>
                                <tr>
                                  <td>
                                    <p>대학내일</p>
                                  </td>
                                  <td>
                                    <strong>
                                위탁업무: <스트리트 꼬북 파이터> 캠페인 운영<br />

                                보유 및 파기기간 : 2024.05.27 ~ 2024.11.26 이내 파기
                              </strong>
                                  </td>
                                </tr>
                                <tr>
                                  <td>
                                    <p>대한통운</p>
                                  </td>
                                  <td>
                                    <strong>
                                위탁업무: <경품 발송><br />

                                보유 및 파기기간 : 2024.05.27 ~ 2024.11.26 이내 파기
                              </strong>
                                  </td>
                                </tr>
                                <tr>
                                  <td>
                                    <p>베테랑퀵서비스</p>
                                  </td>
                                  <td>
                                    <strong>
                                위탁업무: <경품 발송><br />

                                보유 및 파기기간 : 2024.05.27 ~ 2024.11.26 이내 파기
                              </strong>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                            <br /><br />
                      ※ 본 동의는 이벤트 응모를 위한 개인정보 처리 위탁에 대한 동의로서, 동의를 거부 할 권리가 있으나, 동의하지 않으실 경우 이벤트에 응모하실 수 없습니다.
                        </div>
                    </div>
                    <p class="privacy-caution--text">*본 이벤트는 만 14세 미만은 참여가 어렵습니다.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="popup-footer">
        <div class="btn-area">
          <button type="button" class="btn btn-ok popup-close">이벤트 참여하기</button>
        </div>
      </div>
    </div>
  </div>

  <!-- 직관 인증샷 매치 이벤트 참여완료 팝업 -->
  <div class="layer-popup c-common-orion common-complete-popup" id="event02CompletedPopup">
    <div class="popup-container small">
      <div class="popup-header">
        <button type="button" class="btn-close popup-close">닫기</button>
      </div>
      <div class="popup-content">
        <div class="popup-inner">
          <div class="big-title--wrap">
            <h2 class="popup-big--title">꼬북칩 덕질 콘테스트 참여 완료!</h2>
          </div>
          <div class="popup-con">
            <div class="sns-share--wrap">
              <p class="sns-share--text">친구에게 이벤트 소문 내기</p>
              <div class="sns-share--list">
                <a href="javascript:void(0)" target="_blank" class="sns-share--item facebook"><span class="blind">페이스북</span></a>
                <a href="javascript:void(0)" target="_blank" class="sns-share--item twitter"><span class="blind">트위터</span></a>
                <a href="javascript:void(0)" target="_blank" class="sns-share--item kakao"><span class="blind">카카오</span></a>
                <a href="javascript:void(0)" target="_blank" class="sns-share--item link"><span class="blind">링크</span></a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="popup-footer">
        <div class="btn-area">
          <button type="button" class="btn btn-ok popup-close">닫기</button>
        </div>
      </div>
    </div>
  </div>

</body>

<style>
  .section-inner {
    width: 700px;
    margin: 0 auto;
  }

  @media (max-width: 900px) {
    .section-inner {
      width: 100%;
    }
  }

  .popup-list-container h1 {
    margin: 20px 0;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
  }

  .popup-list-container .notice {
    margin-bottom: 20px;
    padding: 20px;
    background-color: #f1f1f1;
  }

  .popup-list-container .notice li {
    font-size: 14px;
  }

  .popup-list-container .list-type {
    padding: 8px 20px;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    background-color: #f1f1f1;
  }

  .popup-list-container .list-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 0;
    border-top: 1px solid #ddd;
  }

  .popup-list-container .name {
    padding-left: 20px;
    font-weight: bold;
    font-size: 15px;
  }

  .popup-list-container .btn-open {
    display: block;
    margin: 10px;
    border-bottom: 1px solid #ddd;
    font-size: 15px;
    font-weight: bold;
  }
</style>

</html>