@keyframes fade-in-up {
  0% {
    opacity: 0;
    transform: translateY(0) translateX(-50%);
  }
  100% {
    opacity: 1;
    transform: translateY(-40px) translateX(-50%);
  }
}
@keyframes fade-in-up-chara {
  0% {
    opacity: 0;
    transform: translateY(40px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes sfsfs {
  0% {
    transform: translateY(50px) translateX(-50%);
    opacity: 0;
  }
  100% {
    transform: translateY(0) translateX(-50%);
    opacity: 1;
  }
}
@keyframes fade-in-bottom {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes up-ani {
  0% {
    opacity: 0;
    transform: translate(-50%, 100%);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, 0);
  }
}
