// 레이아웃 inner
.section-inner {
  max-width: rem($layoutSize);
  // max-width: 360px;
  width: 100%;
  margin: 0 auto;
}

// 헤더
#header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  .logo-area {
    // padding: 10px;
    // padding: 32px 20px 0 20px;
    // @include _vw(padding, 32px 20px 0 20px);
    @include _vw(padding-top, 32px);
    @include _vw(padding-right, 20px);
    @include _vw(padding-left, 20px);
  }
  .logo {
    // width: 94px;
    // height: 20px;
    @include _vw(width, 94px);
    @include _vw(height, 20px);
    background: url('../images/icon/ico-orion-header.png') no-repeat 0 0;
    background-size: cover;
    cursor: pointer;
    a {
      display: block;
      height: 100%;
    }
    .logo-text {
      @include blind();
    }
  }
}
// 햄버거메뉴
.mobile-navigation-menu {
  width: rem(28px);
  height: rem(22px);
  position: relative;
  cursor: pointer;
  .icon {
    display: block;
    @include centerMode();
    width: 100%;
    height: 2px;
    background-color: #666;
    transition: 0.25s;
    &:before,
    &:after {
      transition: 0.25s;
      display: block;
      content: '';
      width: 100%;
      height: 2px;
      position: absolute;
      left: 0;
      background-color: #666;
    }
    &:before {
      top: -8px;
    }
    &:after {
      top: 8px;
    }
  }
  &.active {
    .icon {
      background-color: transparent;
      &:before {
        top: 0;
        transform: rotate(135deg);
      }
      &:after {
        top: 0;
        transform: rotate(-135deg);
      }
    }
  }
}

// 전체메뉴
.all-menu-container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  @include size(100%);
  visibility: hidden;
  &:before,
  &:after {
    content: '';
    background: #f6f6f6;
    top: 0;
    z-index: 1;
    width: 50%;
    height: 100%;
    position: absolute;
    transition: 0.45s cubic-bezier(0.25, 0.8, 0.25, 1);
  }
  &:before {
    left: -55%;
  }

  &:after {
    right: -55%;
  }
  &.open {
    visibility: visible;
    &:before {
      left: 0;
    }
    &:after {
      right: 0;
    }
    .menu-header {
      transition: 0.5s;
      transition-delay: 0.4s;
      opacity: 1;
    }
    .all-menu-item {
      animation: fadeInRight 0.5s ease forwards;
      animation-delay: 0.4s;
      @for $i from 1 to 4 {
        &:nth-child(#{$i}) {
          animation-delay: 0.5s + calc($i / 10);
        }
      }
    }
  }
  @keyframes fadeInRight {
    0% {
      opacity: 0;
      left: 20%;
    }
    100% {
      opacity: 1;
      left: 0;
    }
  }

  .menu-inner {
    position: relative;
    z-index: 2;
    max-height: 100%;
    padding: rem(40px) 0;
    overflow: auto;
  }
  .menu-wrapper {
    width: 100%;
    max-width: rem(1200px);
    margin: 0 auto;
  }
  .menu-header {
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
  }
  .menu-list {
    overflow: hidden;
    padding-top: rem(40px);
  }
  .btn-menu-close {
    @include size(rem(40px));
    position: absolute;
    top: 0;
    right: 0;
    span {
      display: block;
      @include centerMode();
      width: 100%;
      height: 2px;
      background-color: transparent;
      transition: 0.25s;
      text-indent: -9999px;
      &:before,
      &:after {
        transition: 0.25s;
        display: block;
        content: '';
        width: 100%;
        height: 2px;
        position: absolute;
        left: 0;
        background-color: #666;
      }
      &:before {
        top: 0;
        transform: rotate(135deg);
      }
      &:after {
        top: 0;
        transform: rotate(-135deg);
      }
    }
  }
  .all-menu-item {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    opacity: 0;
    padding: rem(10px) 0;
  }
}

// 푸터
#footer {
  .section-inner {
    background: rgba(0, 0, 0, 1);
    @include _vw(padding-bottom, 55px);
  }
  .footer-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include _vw(padding-top, 16px);
    @include _vw(padding-bottom, 16px);
    @include _vw(padding-left, 20px);
    @include _vw(padding-right, 20px);
  }
  .copyright--text {
    @include _vw(font-size, 10px);
    font-weight: 300;
    @include _vw(line-height, 11.93px);
    letter-spacing: -0.02em;
    color: rgba($color: #fff, $alpha: 0.5);
  }
  .copyright--link {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    @include _vw(padding-top, 3px);
    @include _vw(padding-bottom, 3px);
    @include _vw(padding-left, 5px);
    @include _vw(padding-right, 5px);
    color: rgba($color: #fff, $alpha: 0.5);
    border: 1px solid rgba($color: #fff, $alpha: 0.5);
    font-weight: 400;
    @include _vw(font-size, 10px);
    @include _vw(line-height, 11.93px);
    letter-spacing: -0.02em;
  }
}
