@font-face {
  font-family: 'JalnanGothic';
  font-weight: normal;
  font-style: normal;
  src: url('../fonts/JalnanGothic.woff') format('woff'), url('../fonts/JalnanGothic.otf') format('openType');
}
